.MuiButtonBase-root.inventory__button {
  display: flex;
  justify-content: center;
  border: 3px solid #365fac;
  border-radius: 4px;
}
.box__item {
  display: "flex";
  gap: 40px;
  flex-wrap: "wrap";
}
.inventory__button-img {
  width: 32px;
  height: 32px;
  margin-top: 0px;
}
